//CHECAGENS

// !! nao funciona
.card-img-checagem{
    height:10px
}
.imgChecagens{
    border-radius: 0;
}
.cardChecagens{
    border-radius: 0
    background-color: #ffffff;
    box-shadow: 6px 6px #f0f0f0;
    margin: 0px 0px 27px;
}
.card-body-checagem{
    padding-top: 0;
}
.card-title-checagens{
    display: -webkit-box;
    -webkit-line-clamp: 2; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.shareIcon{
    height: 30px;
    background-color: #00305c;
}
.border-fakenews{
    border: 3px solid;
    border-radius: 0;
}
.border-fakeNews-fake{
    border-color: #9b0000;
}
.border-fakenews-fato{
    border-color: #1c8407;
}
.border-fakenews-impreciso{
    border-color: #d88500;;
}

.diaDaPostagem{
    text-align: right;
    color: #c6c6c6;
    margin: 0;
    position: relative;
    
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
.foto-checagem {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
 }
.foto-faixa {
    position: absolute;
    width: 100.1%;
    left: 0px;
    bottom: -1;
 }