body{
background-color: #FFF;

}

header{
    margin: 2vh auto;
}
header,checagens,maispopulares{
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: 15;
    min-height: 10vh;
   
}


.faixaAzul{
    height: 3px;
    background-color: #00305c;
}


.corFato{
    color: #1c8407;
}
.corFake{
    color: #9b0000;
}
.corImpreciso{
    color: #d88500;
}



//CARDS MAIS POPULARES
card{
    background-color: #ffffff;
}


.container-size{
    width: 1028px;
}

.card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19;
}


.card-title-fake{
    color: #9b0000;
}
.card-title-fato{
    color: #1c8407;
}
.card-title-impreciso{
    color: #d88500;
}

//TAGS

.pills-tag {
    background-color: #00305c;
    border-radius: 10em;
    }
}
.nav-pills{
    border-radius: 10em;
}
.pills-rounded .nav-item .nav-link {
    border-radius: 10em;
}

.btn-vermais{
    outline-color: #00305c;
    position: absolute;
    left: 50%;
}
