body{
background-color: #FFF;

}

header{
    margin: 2vh auto;
}
header, checagens, maispopulares{
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: 15;
    min-height: 10vh;
   
}

.nav-senadoverifica{
    padding: none;
    color: chartreuse;
}
.faixaAzul{
    height: 3px;
    background-color: #00305c;
}
.faixaAzulMaisPopulares{
    margin-bottom: 20px;
}
.faixaAzulTags{
    margin-bottom: 12px;
}

.corFato{
    color: #1c8407;
}
.corFake{
    color: #9b0000;
}
.corImpreciso{
    color: #d88500;
}

.col-8{
    padding-left: 10px;
}
.col-4{
    padding: 6px;
    padding-top: 0px;
}

//CARDS MAIS POPULARES
card{
    background-color: #ffffff;
}


.container-size{
    width: 1028px;
}

.card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19;
}


.card-title-fake{
    color: #9b0000;
}
.card-title-fato{
    color: #1c8407;
}
.card-title-impreciso{
    color: #d88500;
}

.table-menu-naoselecionado{
    font-weight: lighter;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: 15;
}
.table-menu-selecionado{
    font-weight: lighter;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: 15;
    border-bottom: 3px solid #00305c !important;
    margin-right: 40px;
}
.th-menu{
    padding: 0 0px 0 0;
}
.table-menu{
    margin-bottom: 19px;
}