body{
background-color: #FFF;

}

header{
    margin: 2vh auto;
}
header,checagens,maispopulares{
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-size: 15;
    min-height: 10vh;
   
}


.faixaAzul{
    height: 3px;
    background-color: #00305c;
}

.shareIcon{
    height: 30px;
    background-color: #00305c;
}
.corFato{
    color: #1c8407;
}
.corFake{
    color: #9b0000;
}
.corImpreciso{
    color: #d88500;
}
//CHECAGENS
.checagem.bgcolor{
    background-color: blueviolet;
}

.cardChecagens{border-radius: 0}

//CARDS MAIS POPULARES
card{
    background-color: #ebebeb;
}

.faixaCardFake,.faixaCardFato,.faixaCardImpreciso{
    height: 3px;
}

.faixaCardFake{
    background-color: #9b0000;
    max-height: 120px;
}

.border-fakeNews--fato{
    border: 5px solid;
    border-color: #9b0000;
}

.faixaCardFato{
    background-color: #1c8407;
}
.faixaCardImpreciso{
    background-color: #d88500;
}

.card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19;
}
.card-body{
    background-color: #ebebeb;
}
.cardMaisPopulares{border-radius: 0;border: none;}
.card-title-fake,.card-title-fato,.card-title-impreciso{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18;
    font-weight: bold;
}
.card-title-fake{
    color: #9b0000;
}
.card-title-fato{
    color: #1c8407;
}
.card-title-impreciso{
    color: #d88500;
}

//TAGS

.pills-tag {
    background-color: #00305c;
    border-radius: 10em;
    }
}
.nav-pills{
    border-radius: 10em;
}
.pills-rounded .nav-item .nav-link {
    border-radius: 10em;
    }