.cardMaisPopulares{
    border: none;
    background-color: #ebebeb;
    padding: 17px;
    padding-top: 10px;
    padding-bottom: 33px;
    margin-bottom: 20px;
}
.card-maispopulares-todos{
    border: none;
}
.faixaCardFake{
    background-color: #9b0000;
}
.faixaCardFato{
    background-color: #1c8407;
}
.faixaCardImpreciso{
    background-color: #d88500;
}
.card-text-fakenews-maispopulares{
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 3; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.faixaCardFake,.faixaCardFato,.faixaCardImpreciso{
    height: 3px;
}

.card-title-maispopulares-fake,.card-title-maispopulares-fato,.card-title-maispopulares-impreciso{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18;
    font-weight: bold;
}
.card-title-maispopulares-fake, .card-title-maispopulares-fato, .card-title-maispopulares-impreciso{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
.card-title-maispopulares-fake{
    color: #9b0000;
}
.card-title-maispopulares-fato{
    color: #1c8407;
}
.card-title-maispopulares-impreciso{
    color: #d88500;
}