.card-todas{
    border: none;
    height: 100px;
    padding: 5px;
}
.card-body-todas{
    padding: 0px;
}
.card-img-top-todas{
    max-width: 180px;
    border-radius: 0;
    float: left;
}

.todas-diaDaPostagem{
    color: #747474;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    margin: 5px;
}

.card-title-todas{
    padding: 0px 0px 0px 15px;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ul-todas{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.todas-faixaCardFake, .todas-faixaCardFato, .todas-faixaCardImpreciso{
    height: 3px;
    max-width: 180px;
}
.todas-faixaCardFake{
    background-color: #9b0000;
}
.todas-faixaCardFato{
    background-color: #1c8407;
}
.todas-faixaCardImpreciso{
    background-color: #d88500;
}