.card-todas{
border: none;
}
.card-img-top-todas{
    max-width: 180px;
    border-radius: 0;
}

.diaDaPostagem{
    text-align: left;
    color: #747474;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}
.faixaCardFake{
    background-color: #9b0000;
}
.faixaCardFato{
    background-color: #1c8407;
}
.faixaCardImpreciso{
    background-color: #d88500;
}